#!/bin/sh

# git
alias gs='git s'

## ls
alias l='eza -aFlT -L 1 -I ".git" --group-directories-first'
alias ll='eza -aFlT -L 2 -I ".git|node_modules|vendor" --group-directories-first'
alias lll='eza -aFlT -L 3 -I ".git|node_modules|vendor" --group-directories-first'
alias la='eza -aa -s extension -s name'

## Command line head / tail shortcuts
alias -g H='| head'
alias -g T='| tail'
alias -g G='| grep'
alias -g L="| less"
alias -g NUL="> /dev/null 2>&1"
alias lf='less +F'
alias -g LF="| lf"

## Docker (and related)
alias dockps='docker ps --format="{{.Names}}[{{.Ports}}]: {{.Command}} ({{.Status}})"'
alias dockc='docker-compose'
alias k=kubectl

## other
alias cat='bat'
alias emacskill='emacsclient -e "(kill-emacs)"'
alias historysummary="history | awk '{a[\$2]++} END{for(i in a){printf \"%5d\t%s\n\",a[i],i}}' | sort -rn | head"
alias c="code ."
alias pip="python3 -m pip"

if [ -f /etc/wsl.conf ]; then
  # WSL environment
  alias open="wslview"
fi
