#!/bin/sh

if [[ 'Darwin' = "$(uname -s)" ]]; then
    alias readlink=greadlink
    alias ln=gln
    alias rm='grm --preserve-root'
    alias ls='gls -FB --color=auto'
else
    alias ls='ls -FB --color=auto'
    alias rm='rm --preserve-root'
fi

# git
alias gits='git status'
alias gitb='git branch -vv'
alias gitco='git checkout'
alias gitsb='git show-branch'
alias gitcob='git checkout -tb'
alias gitpr='git pull --rebase'
alias gitprs='git pull --rebase && clear && git status'
alias gitl='git l'
alias gitrbi='git rebase -i'
alias lgits='clear; git status' # Forgot to use ctrl to clear
alias gitfix='git commit --fixup HEAD; GIT_SEQUENCE_EDITOR=: git rebase -i --autosquash'
alias gitsubupdate='git submodule update --init --recursive'

# cd
alias cd='pushd'
alias cd-='popd'

# tmux
alias tmux='tmux -2'
alias tma='tmux -S ~/.tmux-socket attach'

## ls
alias l='ls -1X'
alias la='ls -AX'

## Command line head / tail shortcuts
alias -g H='| head'
alias -g T='| tail'
alias -g G='| grep'
alias -g L="| less"
alias -g NUL="> /dev/null 2>&1"
alias lf='less +F'
alias -g LF="| lf"

## files
alias dud='du --max-depth=1 -h'
alias duf='du -sh *'
alias fd='find . -type d -name'
alias ff='find . -type f -name'

## other
alias grep='grep --color=auto'
