[alias]
    s = status
    c = commit
    sw = switch
    co = checkout
    cob = checkout -tb
    l = log --graph --pretty=simple --all --not --remotes
    b = branch
    dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%ar%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
    d = diff
    ds = diff --stat
    dh = diff HEAD
    rbi = rebase --interactive
    pr = pull --rebase
[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto
[core]
    excludesfile = ~/.gitignore_global
    pager = less -FMRiX
[branch]
    autosetupmerge = always
    autosetuprebase = always
[push]
    default = upstream
    followTags = true
[pretty]
    simple=%C(auto)%h%d [%ci] %s - %cn
[diff]
    algorithm = patience
[format]
    pretty=simple
[merge]
	tool = meld
[include]
    path=.gitconfig_sys
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	templatedir = ~/.git-templates
