! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common
!#define S_yellow        #b58900
!#define S_orange        #cb4b16
!#define S_red           #dc322f
!#define S_magenta       #d33682
!#define S_violet        #6c71c4
!#define S_blue          #268bd2
!#define S_cyan          #2aa198
!#define S_green         #859900


! Dark
!#define S_base03        #002b36
!#define S_base02        #073642
!#define S_base01        #586e75
!#define S_base00        #657b83
!#define S_base0         #839496
!#define S_base1         #93a1a1
!#define S_base2         #eee8d5
!#define S_base3         #fdf6e3

*background:              #002b36 ! S_base03
*foreground:              #839496 ! S_base0
*fading:                  40
*fadeColor:               S_base03
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

*color0:                  #073642 ! S_base02
*color1:                  #dc322f ! S_red
*color2:                  #859900 ! S_green
*color3:                  #b58900 ! S_yellow
*color4:                  #268bd2 ! S_blue
*color5:                  #d33682 ! S_magenta
*color6:                  #2aa198 ! S_cyan
*color7:                  #eee8d5 ! S_base2
*color9:                  #cb4b16 ! S_orange
*color8:                  #002b36 ! S_base03
*color10:                 #586e75 ! S_base01
*color11:                 #657b83 ! S_base00
*color12:                 #839496 ! S_base0
*color13:                 #6c71c4 ! S_violet
*color14:                 #93a1a1 ! S_base1
*color15:                 #fdf6e3 ! S_base3

URxvt*saveLine:         0 ! use tmux to manage history
URxvt*scrollBar:        false
URxvt*matcher.button:   1
URxvt.transparent:      false
URxvt*allow_bold:       true

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher:    /usr/bin/firefox
URxvt.matcher.button:  1
URxvt.colorUL:         S_blue
URxvt.letterSpace:     -1
! Use 16-color version since we are configuring correct solarized colors
URxvt.termName:        rxvt-16color

! xterm Settings
! Use 16-color version since we are configuring correct solarized colors
XTerm*termName:  xterm-16color

! XFT Settings
*.font:            xft:Inconsolata\\-dz:size=8
Xft.dpi: 96
Xft.antialias: 1
Xft.hinting:    1
Xft.hintstyle:  hintfull
